name: lesson_tracker_pro
description: Lesson tracker MVP (Flutter)
publish_to: "none"

version: 0.0.1+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  supabase_flutter: ^2.9.1

# Keep dependencies minimal for now; add as we implement features.

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/app_logo.png
    - assets/images/logo.png
    - assets/icons/
    - assets/fonts/
  fonts:
    - family: NotoSansSC
      fonts:
        - asset: assets/fonts/NotoSansCJKsc-VF.ttf
